/* Custom services */
.services {
  padding: 60px 0;
}

.service-box{
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
}

.services .service-item {
  padding: 40px;
  background: #ffffff;
  height: 100%;
  border-radius: 10px;
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.services .service-item .icon i {
  color: var(--color-default);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}
.card2 {
  display: block;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 2px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(29, 29, 29, 0.2);
    top: -4px;
    border: 2px solid #00B4D8;
    background-color: rgb(250, 250, 250);
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

.services .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--color-primary);
}
.services .service-item .readmore:hover{
  color: #00B4D8;
}

.services .service-item:hover {

  transition: 0.5s
}

.services .service-item:hover h3 {
  border-color: var(--color-primary);
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #627680;
  text-decoration: none;
}

a:hover {
  color: #00B4D8 !important;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2596be;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-whatsapp {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 62px;
  bottom: 15px;
  z-index: 996;
  background: #25d366;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #14b1ff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: hsl(0, 0%, 98%);
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo img {
  max-height: 60px;
}

@media (max-width: 991px) {
  #header .logo{
    width: 100%;
    /* margin-left: 10px; */
    text-align: left;
  }
}
.nav-contact-no h4{
  font-family: 'Space Mono', monospace;
  margin: auto 0px;

}
.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #05cdff 25%,
    #231557 50%,
    #05ffff 75%,
    #231557 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.callus-nav{
  width: 100%;
  text-align: right;
}
.callus-nav button{
  background: #00B4D8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.callus-nav button:hover {
  background: #1eb4ff;
}
.callus-acc{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.callus-acc a button{
  background: #00B4D8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.callus-acc button:hover {
  background: #1eb4ff;
}
.callus-acc a {
  color: #fff;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #7b909a;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #00B4D8;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.nav-container{
  width: 100%;
  margin: 0;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: #003651;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #00B4D8;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #364146;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
  
  .callus-nav{
    width: 100%;
    margin-right:12px;
    text-align: right;
  }
  .callus-nav button{
    background: #00B4D8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  .callus-nav a {
    color: #fff;
  }
  .callus-acc{
    width: 100%;
    margin-right:12px;
    text-align: center;
  }
  .callus-acc button{
    background: #00B4D8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  .callus-acc a button:hover {
    background: #1eb4ff;
  }
  .callus-acc a {
    color: #fff;
  }
  
}

@media (max-width:845px) {
  .nav-contact-no{
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 38, 41, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #364146;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #00B4D8;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #00B4D8;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background-image: url("../img/bg-2.jpg");
  background-repeat: no-repeat;
  /* transform: scaleX(-1); */
  background-size: cover;
  background-position: right top;
  margin-top: 70px;
  padding: 60px 0;
  padding-bottom: 0px;
  /* height: 350px; */
}

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 40px;
  /* width: 80%; */
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
}

#hero h5 {
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* display: inline; */
  padding: 12px 28px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #00B4D8;
}

#hero .btn-get-started:hover {
  background: #008bd1;
}

#hero .hero-img {
  text-align: center;
}

#hero .hero-img img {
  width: 60%;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero h1 {
    font-size: 32px;
    line-height: 40px;
  }

  #hero h2 {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f8f9;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #627680;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding: 0;
  margin-top: 40px;
}


.about .container {
  background-color: #f7f8f9;
  padding: 60px 50px;
}

@media (max-width: 992px) {
  .about .container {
    padding: 30px;
  }
}

.about .content h3 {
  font-weight: 400;
  font-size: 32px;
  color: #364146;
  font-family: "Poppins", sans-serif;
}

.about .content ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
}
.about .content p {
  font-size: 1rem;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #28a745;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.img-align{
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.img-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {

  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}
.width-ovr{
  width: 80px;
}
.width-adani{
  width: 200px;
}
.width-tradebulls{
  width: 160px;
}
.width-guj-tour{
  width: 130px;
}


.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #d8dee1;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #f4f6f7;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #00B4D8;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00B4D8;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.master-carousel-div{
  width: 100%;
}
.carousel-btn{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.client-btn{
  width: 140px;
  height: 40px;
  background: #00B4D8;
  border: 0;
  /* padding: 10px 24px; */
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.clients .swiper-slide img {
  /* opacity: ; */
  transition: 0.3s;
}


.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0880e8;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0880e8;
}

.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  width: 60%;
  opacity: 0.5;
  transition: 0.3s;
}

.clients .owl-item img:hover {
  opacity: 1;
}

.clients .owl-nav,
.clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active {
  background-color: #0880e8 !important;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.no-contact{
  margin: 10px 0;
}
.phone{
  margin-top: 30px;
}

.no-contact-main{

  margin-left: 50px;
  margin-bottom: 50px;
}
.no-contact-main a{
  margin-bottom: 20px;
  font-size: 14px;
  color: #627680;
  list-style: none;
}
.loc-contact{
  margin: 10px 0;
}


.col{
  margin: 25px;
}


.contactDetails h2{
  color:#00B4D8 ;
}
.contact-title h2{
  color:#00B4D8;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #e9ecee;
  border-radius: 4px;
}

.contact .info i {
  font-size: 20px;
  color: #00B4D8;
  float: left;
  width: 44px;
  height: 44px;
  background: #f2f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #364146;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #627680;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #00B4D8;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #00B4D8;
  color: #fff;
}

.contact .php-email-form {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border: 2px solid #e9ecee;
  border-radius: 4px;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}


.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}
.error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}
.loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #00B4D8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

button[type=submit] {
  background: #00B4D8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
button[type=submit]:hover {
  background: #1eb4ff;
}


.contact .php-email-form button[type=submit]:hover {
  background: #1eb4ff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  padding: 0 0 30px 0;
  color: #364146;
  font-size: 14px;
}

#footer .footer-top {
  background: #fff;
  padding: 60px 0 30px 0;
  border-top: 2px solid #e9ecee;
  border-bottom: 2px solid #e9ecee;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #576971;
}


#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #364146;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #00B4D8;
  font-size: 18px;
  line-height: 1;
  margin-left: -5px;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #576971;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #00B4D8;
}


#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 8px;
  text-align: center;
  font-size: 13px;
  color: #364146;
}

.footer-logo{
  max-width: 65%;
  /* max-height: 70%; */
  
}
.footer-newsletter a{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  
}
.footer-newsletter{
  margin: auto 0;
}

/* mobile responsiveness */

/* serviece section  */

@media (max-width:767px) {
  
  #header .logo img {
    max-height: 40px;
}
  .services {
    padding: 20px 0;
  }
  
  .service-box{
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    background: #fff;
  }
  
  .services .service-item {
    padding: 5px;
    background: #ffffff;
    height: 100%;
    border-radius: 10px;
  }
  
  .services .service-item .icon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .services .service-item .icon i {
    color: var(--color-default);
    font-size: 30px;
    transition: ease-in-out 0.3s;
    z-index: 2;
  
  }
  .spc{
    padding: 0 5px ;
    
  }
  .card2 {
    display: block;
    top: 0px;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 2px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 2px solid #f2f8f9;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(29, 29, 29, 0.2);
      top: -4px;
      border: 2px solid #00B4D8;
      background-color: rgb(250, 250, 250);
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
    }
  }
  
  .services .service-item h3 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 18px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #eeeeee;
    transition: 0.3s;
  }
  
  .services .service-item p {
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 0;
  }
  
  .services .service-item .readmore {
    margin-top: 12px;
    font-weight: 700;
    display: inline-block;
    color: var(--color-primary);
  }
  
  .services .service-item:hover {
    transition: 0.5s
  }
  
  .services .service-item:hover h3 {
    border-color: var(--color-primary);
  }
  
}

/*  section  */

@media (max-width:600px) {
  .col{
    margin: -6px;
  }
  
}

/* footer section */

@media (max-width:800px) {
  .footer-logo{
    max-width: 50%;

    
  }
  .footer-newsletter a{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
  }
  
  
}
@media (max-width:600px){
  .footer-link-services{
    visibility: hidden;
    height: 0px;
  }
}




/* # Breadcrumbs
--------------------------------------------------------------*/ 
.breadcrumbs {
  /* padding: 15px 0; */
  background: #f4f6f7;
  min-height: 40px;
  margin-top: 0px;
  padding-bottom: 0;
  padding-top: 80px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 600;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}
.unique{
  visibility: hidden;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4c5c63;
  content: "/";
}
.breadcrumbs .container{
 margin-left: 0px;
}
@media (max-width:767px) {
  #hero .row{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    /* padding-bottom: 40px; */
  }
  .hero-h1{
    padding-bottom: 40px;
  }
  .unique{
    background-color: #00B4D8;
    color: white;
    text-align: center;
    width: 230px;
    height: 30px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 2.5px;
    visibility: visible;
  }

}
/* 
# Counts
--------------------------------------------------------------*/ 
.counts {
  padding: 60px 0;
}

.counts .count-box {
  width: 100%;
  text-align: center;
}

.counts .count-box span {
  font-size: 30px;
  line-height: 48px;
  display: block;
  font-weight: 700;
  color: #124265;
  margin-left: 80px;
  margin: auto;
}

.counts .count-box p {
  padding: 8px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #1e6ca6;
}
.show {
  display: block !important;
  visibility: visible !important;
  /* overflow : hidden !important; */
}
.no-contact-main a{
  margin-bottom: 20px;
  font-size: 14px;
  color: #627680 !important;
  list-style: none;
}